<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #box {
      width: 100px;
      height: 100px;
      background: yellow;
    }

    .table {
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      overflow: hidden;
    }

    .table-item {
      width: 50%;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      float: left;
    }
  </style>
</head>

<body>
  <button id="printBtn" class="no-print">click here to print the specified block</button>
  <div id="box">
    <input type="checkbox">
  </div>
  <div class="table">
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
    <div>
      <p class="table-item">Darling, I am back.</p>
      <p class="table-item">Darling, I am back.</p>
    </div>
  </div>
</body>

</html>